/* https://create-react-app.dev/docs/adding-css-reset */
@import-normalize;

* {
	box-sizing: border-box;
}

:root {
	--bg: #282c34;

	--ui-separator-border: 3px solid black;
}

ul {
	list-style: none;
}

body {
	background-color: var(--bg);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */
